.mdl-demo .mdl-layout__header-row,
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active::after {
    background-color: #1a75cf;
}
.wtBorder {
    background-color: #1a75cf!important;
}
.handsontable th {
    color: #1974CF;
    /* color: #ffffff; */
    /* font-size: 1.25rem; */
    
    font-family: 'Roboto', 'Helvetica', monospace;
}
.htMenu .htContextMenu .handsontable{
    color: #1874CF;
}
.my-modified-toolbar-section {
    position: absolute;
    right: 0;
    bottom: -16px;
}
[dir="rtl"] .my-modified-toolbar-section {
    right: auto;
    left: 0;
}
.mdl-card__supporting-text {
    color: rgba(0, 0, 0, 0.46);
    padding: 30px;
    width: calc(100% - 60px)
}
.mdc-dialog__header,
.mdc-toolbar__row,
.mdc-toolbar__section--align-start {
    background-color: #1a75cf;
}
.htContextMenu table tbody tr td {
    text-align: left;
    /* font-size: 12px; */
    padding: 6px 6px 6px 6px;
}
.htContextMenu table tbody tr td.current,
.htContextMenu table tbody tr td.zeroclipboard-is-hover {
  background: #1a75cf;
  color: #ffffff;
}
.ht_master tr td {
    color: #646464;
    text-align: center;
}

.ht_master tr > td.current {
    background-color: #f5f5f5;
}
.handsontable tbody th.ht__highlight,
.handsontable thead th.ht__highlight {
    background-color: #1a75cf;
    color: #ffffff;
}
.mdc-dialog__header__title,
.mdc-dialog__footer__button {
    color: #f5f5f5
}
.mdc-dialog__body--scrollable {
    background-color: #f5f5f5
}
.catalog-title {
    font-family: 'Roboto', 'Helvetica', monospace;
}
.mdc-dialog__body--scrollable {
    max-height: 500px;
}
.mdc-dialog__surface {
    /* height: calc(100% - 30px); */
    
    background-color: #1974CF;
}
#add-btn-dlg-panel {
    display: none;
}
.mdl-color--accent {
    background: rgb(26, 207, 116) !important;
    color: rgb(255, 255, 255);
}
.mdl-demo .mdl-card__actions a {
    color: #1a75cf !important;
    margin: 0;
}
.dg.main .close-button {
    line-height: 40px;
    height: 50px;
}
#default-dialog-activation {
    display: inline-flex
}
body .handsontable .currentRow {
    background-color: #e2e7eb;
}
.handsontable.listbox tr td.current,
.handsontable.listbox tr:hover td {
    background: #eaf4fd;
}
.mdl-button--fab.mdl-button--colored {
    background: rgb(26, 207, 116) !important;
    color: rgb(255, 255, 255);
}
.mdl-color--primary-dark {
    background-color: #1874CF !important;
}
.mdl-button--raised.mdl-button--colored {
    background: rgb(26, 117, 207) !important;
    color: rgb(255, 255, 255);
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised {
    background: #19cf74 !important;
    color: rgb(255, 255, 255);
}
.spreadsheet {
    /* width: calc(100% - 100px); */
    
    height: 500px;
    overflow: hidden;
}
.mdl-layout__content {
    display: block;
    width: 100%;
    overflow: auto;
}
/*
* JavaScript Load Image Demo CSS
* https://github.com/blueimp/JavaScript-Load-Image
*
* Copyright 2013, Sebastian Tschan
* https://blueimp.net
*
* Licensed under the MIT license:
* https://opensource.org/licenses/MIT
*/

body {
    max-width: calc(100% - 50px);
    margin: 0 auto;
    padding: 1em;
    background: #f5f5f5;
    color: #1a75cf;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a {
    color: #1a75cf;
    text-decoration: none;
}
img {
    border: 0;
    vertical-align: middle;
}
h1 {
    line-height: 1em;
}
table {
    width: 100%;
    word-wrap: break-word;
    table-layout: fixed;
    border-collapse: collapse;
}
tr {
    background: #fff;
    color: #222;
}
tr:nth-child(odd) {
    background: #eee;
    color: #222;
}
td {
    padding: 10px;
}
.result,
.thumbnail {
    padding: 10px;
    color: #222;
    text-align: center;
}
.jcrop-holder {
    margin: 0 auto;
}
@media (min-width: 481px) {
    .navigation {
        list-style: none;
        padding: 0;
    }
    .navigation li {
        display: inline-block;
    }
    .navigation li:not(:first-child):before {
        content: '| ';
    }
}